<nb-card class="cat-card"> 
  <nb-card-header>

      <span class="title">
        Reporte Acumulado de Bienes Trimestral
      </span>

<!-- Botón para agregar nuevo desactivado por que no lo requiere
      <div class="add-select">
          <button (click)="openWindow()" nbButton status="primary">Nueva</button>
      </div>
-->

  </nb-card-header>

  <nb-card-body>
   
    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label class="label">no. Delegación</label>
                <input disabled nbInput fullWidth  placeholder="{{selectedDelegationID}}">
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label class="label">Descripción</label>
                    <ng-select nbinput=""  class=" ng-dropdown-panel-items scroll-host input-full-width size-medium status-basic shape-rectangle nb-transition" 
                        [items]="listado" 
                        bindLabel="delegation"
                        bindValue="noDelegation" 
                        placeholder="" 
                        [(ngModel)]="selectedDelegationID"> 
                    </ng-select>
            </div>
        </div>

    </div>



</nb-card-body>

</nb-card>