<nb-card>
  <nb-card-body>
    <form [formGroup]="form">

      <div class="form-group">
        <input type="string" nbInput fullWidth formControlName="id" class="form-control"
          placeholder="Id de respuesta ej. 1"
          [status]="(id?.errors?.required || id?.hasError('maxlength') || id?.hasError('pattern') ) && id.touched ? 'danger' : ''"
        />
        <ngx-validation-message label="Identificador" 
          [showRequired]="id?.errors?.required && id.touched"
          [showMaxLength]="id?.hasError('maxlength')"
          [showPattern]="id?.hasError('pattern') && id.touched">
        </ngx-validation-message>
      </div>
          <!--
      <div class="form-group">
        <input type="text" nbInput fullWidth formControlName="warehouse"
          placeholder="Almacén"
          [nbAutocomplete]="auto"
          [status]="(warehouse?.hasError('pattern') ) ? 'danger' : ''"
        />
        <nb-autocomplete #auto [activeFirst]="false"
          (selectedChange)="onSelectionChangeWarehouse($event)">
          <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option.description }}
          </nb-option>
        </nb-autocomplete>
        <ngx-validation-message label="Almacén" 
          [showPattern]="warehouse?.hasError('pattern')">
        </ngx-validation-message>
      </div>
    -->
      <div class="form-group">
        <input type="text" nbInput fullWidth formControlName="batch" class="form-control"
          placeholder="Lote"
          [nbAutocomplete]="auto"
          [status]="(batch?.hasError('pattern') ) ? 'danger' : ''"
        />
        <nb-autocomplete #auto [activeFirst]="false"
          (selectedChange)="onSelectionChangeBatch($event)">
          <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
            {{ option.description}}
          </nb-option>
        </nb-autocomplete>
        <ngx-validation-message label="Lote" 
          [showRequired]="batch?.errors?.required && batch.touched"
          [showPattern]="batch?.hasError('pattern')">
        </ngx-validation-message>
      </div>

      <div class="form-group">
        <input type="text" nbInput fullWidth formControlName="description" class="form-control"
          placeholder="Descripción"
          [status]="(description?.errors?.required || description?.hasError('minlength') || description?.hasError('maxlength') || description?.hasError('pattern')) && description.touched ? 'danger' : ''"
        />
        <ngx-validation-message label="Descripción" 
          [showMinLength]="description?.hasError('minlength')"
          [showMaxLength]="description?.hasError('maxlength')"
          [showRequired]="description?.errors?.required && description.touched"
          [showPattern]="description?.hasError('pattern') && description.touched" minLength=1 maxLength=80>
        </ngx-validation-message>
      </div>
    <!--
      <div class="form-group">
        <input type="text" nbInput fullWidth formControlName="rackStatus"
          placeholder="Estatus ej. A"
          [status]="(rackStatus?.errors?.required || rackStatus?.hasError('maxlength') || rackStatus?.hasError('pattern') ) && rackStatus.touched ? 'danger' : ''"
        />
        <ngx-validation-message label="Estatus"
          [showMaxLength]="rackStatus?.hasError('maxlength')" 
          [showRequired]="rackStatus?.errors?.required && rackStatus.touched"
          [showPattern]="rackStatus?.hasError('pattern') && rackStatus.touched">
        </ngx-validation-message>
      </div>
      -->
      <div class="form-group">
        <input type="number" nbInput fullWidth formControlName="registerNumber" class="form-control"
          placeholder="No. de registro"
          [status]="registerNumber?.hasError('pattern') && registerNumber.touched ? 'danger' : ''"
        />
        <ngx-validation-message label="No. de registro" 
          [showPattern]="registerNumber?.hasError('pattern') && registerNumber.touched">
        </ngx-validation-message>
      </div>
    
    
      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button type="submit" nbButton status="primary" [disabled]="!form.valid"
            (click)="register()">{{actionBtn}}</button>
        </div>
      </div>

    </form>
  </nb-card-body>
</nb-card>