<nb-card>
    <nb-card-body>
        <form [formGroup]="formSubdelegation">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="descripcion" matInput placeholder="descripcion">
                <label class="text-danger" *ngIf="validateSubdelegation['descripcion'].hasError('pattern')"><small>Ingrese una descripcion!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="etapa_edo" matInput placeholder="etapa_edo">
                <label class="text-danger" *ngIf="validateSubdelegation['etapa_edo'].hasError('required')"><small>Campo etapa EDO requerido!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="no_consecutivo_diario" type="number" matInput placeholder="N consecutivo diario">
                <label class="text-danger" *ngIf="validateSubdelegation['no_consecutivo_diario'].hasError('required')"><small>Ingrese un numero consecutivo diario!</small></label>
            </div>
            <div class="form-group row">
                <input formControlName="detalle_delegacion" matInput placeholder="Nro delegacion"  [nbAutocomplete]="auto"  nbInput>
            

                <nb-autocomplete #auto [activeFirst]="true" (selectedChange)="onSelectionChangeDelegation($event)">

                    <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                        {{ option.descripcion }}
                    </nb-option>
                
                    </nb-autocomplete>
                <label class="text-danger" *ngIf="validateSubdelegation['no_delegacion'].hasError('min')"><small>Seleccione una delegacion!</small></label>
               
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="no_registro" matInput placeholder="Número de registro">
                <label class="text-danger" *ngIf="validateSubdelegation['no_registro'].hasError('min')"><small>Ingrese el numero de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formSubdelegation.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

