<nb-card>
    <nb-card-body>
        <form [formGroup]="formSubdelegation">
            <div class="form-group row">
                <input nbInput fullWidth type="text" formControlName="description" matInput placeholder="Descripción">
                <label class="text-danger" *ngIf="validateSubdelegation['description'].hasError('pattern')"><small>Ingrese una description!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth type="number" formControlName="phaseEdo" matInput placeholder="Etapa EDO">
                <label class="text-danger" *ngIf="validateSubdelegation['phaseEdo'].hasError('required')"><small>Campo etapa EDO requerido!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth type="number" formControlName="numDailyCon" type="number" matInput placeholder="N consecutivo diario">
                <label class="text-danger" *ngIf="validateSubdelegation['numDailyCon'].hasError('required')"><small>Ingrese un numero consecutivo diario!</small></label>
            </div>
            <div class="form-group row">
                <input formControlName="detailDelegation" matInput placeholder="Nro delegacion"  [nbAutocomplete]="auto"  nbInput>
            

                <nb-autocomplete #auto [activeFirst]="true" (selectedChange)="onSelectionChangeDelegation($event)">

                    <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                        {{ option.description }}
                    </nb-option>
                
                    </nb-autocomplete>
                <label class="text-danger" *ngIf="validateSubdelegation['numDelegation'].hasError('min')"><small>Seleccione una delegacion!</small></label>
               
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="numRegister" matInput placeholder="Número de registro">
                <label class="text-danger" *ngIf="validateSubdelegation['numRegister'].hasError('min')"><small>Ingrese el numero de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formSubdelegation.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>

