<nb-card class="cat-card">   
    <nb-card-header>
  
        <span class="title">
            RECEPCIÓN RECIBIDA POR ÁREA EN EL SERA
        </span>
  
  <!-- Botón para agregar nuevo desactivado por que no lo requiere
        <div class="add-select">
            <button (click)="openWindow()" nbButton status="primary">Nueva</button>
        </div>
  -->
  
    </nb-card-header>
  
    <nb-card-body>

        <form [formGroup]="formDelegation" (submit)="mostrarInfo()">

            <ngx-deleg-subdeleg-shared [form]="formDelegation"></ngx-deleg-subdeleg-shared>
  
      <div class="row">
  
          <div class="col-md-2">
              <div class="form-group">
                  <label class="label">Fecha recepción del:</label>
                  
                    <input nbInput
                           placeholder="Selección de fecha"
                           [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
                  
              </div>
          </div>
  
          <div class="col-md-2">
              <div class="form-group">
                  <label class="label">Al</label>
                  
                    <input nbInput
                           placeholder="Selección de fecha"
                           [nbDatepicker]="formpicker2">
                    <nb-datepicker #formpicker2></nb-datepicker>
                  
              </div>
          </div>
          
              
      </div>

      <div class="row">
  
        <div class="col-md-1">
            <div class="form-group">
                <label class="label">Área Destino</label>
                <input  nbInput fullWidth  placeholder="">
            </div>
        </div>
        
            <div class="col-md-3">
                <div class="form-group">
                    <label class="label">Seleccione Área</label>
                    <input  nbInput fullWidth  placeholder="">
                </div>
            </div>

    </div>

    <div class="row">
  
        <div class="col-md-1">
            <div class="form-group">
                <input  nbInput fullWidth  placeholder="">
            </div>
        </div>
        
            <div class="col-md-3">
                <div class="form-group">
                    <input  nbInput fullWidth  placeholder="">
                </div>
            </div>

    </div>
  
    <div class="form-group">
        <div class="d-flex justify-content-center">
                <button type="submit" nbButton status="primary" [disabled]="!formDelegation.valid">Imprimir Reporte</button>
        </div>
    </div>
        </form>
  
    
  
  
  </nb-card-body>
  
  </nb-card>