<nb-card class="cat-card">  
    <nb-card-header>
  
        <span class="title">
            RECEPCIÓN RECIBIDA POR ÁREA EN EL SERA
        </span>
  
  <!-- Botón para agregar nuevo desactivado por que no lo requiere
        <div class="add-select">
            <button (click)="openWindow()" nbButton status="primary">Nueva</button>
        </div>
  -->
  
    </nb-card-header>
  
    <nb-card-body>

        <form [formGroup]="form" (submit)="mostrarInfo()"> 

            <ngx-deleg-subdeleg-shared [form]="form"></ngx-deleg-subdeleg-shared>
  
      <div class="row">
  
          <div class="col-md-2">
              <div class="form-group">
                  <label class="label">Fecha recepción del:</label>
                  
                    <input formControlName="fechaInicial" nbInput
                           placeholder="Selección de fecha"
                           [nbDatepicker]="formpicker">
                    <nb-datepicker #formpicker></nb-datepicker>
              </div>
              <ngx-validation-message label="fechaInicial" 
                         [showRequired]="fechaInicial?.errors?.required && fechaInicial.touched">
              </ngx-validation-message>
          </div>
  
          <div class="col-md-2">
              <div class="form-group">
                  <label class="label">Al</label>
                  
                    <input formControlName="fechaFinal" nbInput
                           placeholder="Selección de fecha"
                           [nbDatepicker]="formpicker2">
                    <nb-datepicker #formpicker2></nb-datepicker>
                  
              </div>
              <ngx-validation-message label="fechaFinal" 
                         [showRequired]="fechaFinal?.errors?.required && fechaFinal.touched">
            </ngx-validation-message>
          </div>
          
              
      </div>

      <ngx-destination-area-shared [form]="form"></ngx-destination-area-shared>
      <ngx-validation-message label="noAreaDestino" [showRequired]="noAreaDestino?.errors?.required && noAreaDestino.touched"></ngx-validation-message>
      <ngx-validation-message label="claveAreaDestino" [showRequired]="claveAreaDestino?.errors?.required && claveAreaDestino.touched"></ngx-validation-message>
      <ngx-validation-message label="descriptionAreaDestino" [showRequired]="descriptionAreaDestino?.errors?.required && descriptionAreaDestino.touched"></ngx-validation-message>
      <ngx-validation-message label="nameAreaDestino" [showRequired]="nameAreaDestino?.errors?.required && nameAreaDestino.touched"></ngx-validation-message>
  
    <div class="form-group">
        <div class="d-flex justify-content-center">
                <button type="submit" nbButton status="primary" [disabled]="!form.valid">Imprimir Reporte</button>
        </div>
    </div>
        </form>
  
    
  
  
  </nb-card-body>
  
  </nb-card>