<nb-card>
    <nb-card-body>
        <form [formGroup]="formDelegation">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="description" matInput placeholder="Descripción"
                [status]="formDelegation.controls['description']?.errors?.required  && formDelegation.controls['description'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validateDelegation['description'].hasError('required') && formDelegation.controls['description'].touched"><small>Ingrese una description!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="zoneVigilanceCVE" matInput placeholder="CVE Zona de vigilancia"
                [status]="formDelegation.controls['zoneVigilanceCVE']?.errors?.required  && formDelegation.controls['zoneVigilanceCVE'].touched ? 'danger' : ''">
                <label class="text-danger" *ngIf="validateDelegation['zoneVigilanceCVE'].hasError('required') && formDelegation.controls['zoneVigilanceCVE'].touched"><small>Campo cve de zona de vigilancia requerido!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="phaseEdo" matInput placeholder="Etapa Edo"
                [status]="formDelegation.controls['phaseEdo']?.errors?.required  && formDelegation.controls['phaseEdo'].touched ? 'danger' : ''">
                <label class="text-danger" *ngIf="validateDelegation['phaseEdo'].hasError('required')  && formDelegation.controls['phaseEdo'].touched "><small>Ingrese la etapa edo!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="diffHours" matInput placeholder="Diferencia de horas"
                [status]="formDelegation.controls['diffHours']?.errors?.required  && formDelegation.controls['diffHours'].touched ? 'danger' : ''">
                <label class="text-danger" *ngIf="validateDelegation['diffHours'].hasError('required')  && formDelegation.controls['diffHours'].touched "><small>Ingrese la diferencia de horas!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="zoneContractCVE" matInput placeholder="CVE zona de contrato"
                [status]="formDelegation.controls['zoneContractCVE']?.errors?.required  && formDelegation.controls['zoneContractCVE'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateDelegation['zoneContractCVE'].hasError('required') && formDelegation.controls['zoneContractCVE'].touched"><small>Ingrese cve de zona de contrato!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="numRegister" matInput placeholder="Número de registro"
                [status]="formDelegation.controls['numRegister']?.errors?.required  && formDelegation.controls['numRegister'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateDelegation['numRegister'].hasError('required') && formDelegation.controls['numRegister'].touched"><small>Ingrese el numero de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formDelegation.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>