<nb-card>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="cve" matInput placeholder="Clave">
                <label class="text-danger" *ngIf="validateOpinion['cve'].hasError('pattern')"><small>Clave no válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="description" matInput placeholder="Descripcion">
                <label class="text-danger" *ngIf="validateOpinion['description'].hasError('pattern')"><small>Descripcion no válido!</small></label>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
