<nb-card>
  <nb-card-body>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="descripcion" placeholder="Descripción">
            <label class="text-danger" *ngIf="validateOpinion['descripcion'].hasError('pattern')"><small>Descripción no
                válido!</small></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="no_contrato" placeholder="No de contrato">
            <label class="text-danger" *ngIf="validateOpinion['no_contrato'].hasError('pattern')"><small>No de contrato no
                válido!</small></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="version" placeholder="Versión">
            <label class="text-danger" *ngIf="validateOpinion['version'].hasError('pattern')"><small>Versión no
                válido!</small></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="tercero_especializado" placeholder="Tercero especializado">
            <label class="text-danger" *ngIf="validateOpinion['tercero_especializado'].hasError('pattern')"><small>Tercero especializado
                no
                válido!</small></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="iva" placeholder="Iva">
            <label class="text-danger" *ngIf="validateOpinion['iva'].hasError('pattern')"><small>Iva
                no
                válido!</small></label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input nbInput fullWidth formControlName="estatus" placeholder="Estatus">
            <label class="text-danger" *ngIf="validateOpinion['estatus'].hasError('pattern')"><small>Estatus
                no
                válido!</small></label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="d-flex justify-content-center">
          <button type="submit" nbButton status="primary" [disabled]="!form.valid"
            (click)="register()">{{actionBtn}}</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
