<nb-card>
    <nb-card-body>
        <form [formGroup]="formCity">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="name" matInput placeholder="nombre">
                <label class="text-danger" *ngIf="validateCity['name'].hasError('pattern')"><small>Ingrese un nombre válido!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="cityCode" matInput placeholder="cve_entfed">
                <label class="text-danger" *ngIf="validateCity['cityCode'].hasError('required')"><small>Campo cve requerido!</small></label>
            </div>

            <div class="form-group row">
                <input formControlName="detailDelegation" type="text" id="noDelegation" matInput placeholder="Nro delegacion"  [nbAutocomplete]="auto"  nbInput>
            

                <nb-autocomplete #auto [activeFirst]="true" (selectedChange)="onSelectionChangeDelegation($event)">

                    <nb-option *ngFor="let option of filteredOptions$ | async" [value]="option">

                        {{ option.description }}
                    </nb-option>
                
                    </nb-autocomplete>
                <label class="text-danger" *ngIf="validateCity['numDelegation'].hasError('min')"><small>Seleccione una delegacion!</small></label>

               
            </div>

            <div class="form-group row">
                <input formControlName="detailSubDelegation" matInput placeholder="Nro subdelegacion"  [nbAutocomplete]="subDelegation"  nbInput>
            

                <nb-autocomplete #subDelegation [activeFirst]="true" (selectedChange)="onSelectionChangeSubdelegation($event)">

                    <nb-option *ngFor="let option of filteredsubdelegations$ | async" [value]="option">
                        {{ option.description }}
                    </nb-option>
                
                    </nb-autocomplete>
                <label class="text-danger" *ngIf="validateCity['numSubDelegation'].hasError('min')"><small>seleccione una subdelegacion!</small></label>


            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="legendOffice" matInput placeholder="Leyenda oficio">
                <label class="text-danger" *ngIf="validateCity['legendOffice'].hasError('required')"><small>Ingrese una leyenda oficio!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput type="number" fullWidth formControlName="numRegister" matInput placeholder="Número de registro">
                <label class="text-danger" *ngIf="validateCity['numRegister'].hasError('required')"><small>Ingrese el numero de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formCity.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>