<nb-card>
    <nb-card-body>
        <form [formGroup]="form">

            <div class="form-group row">
                <input class="styles" nbInput fullWidth formControlName="code" matInput placeholder="Código"
                [status]="form.controls['code']?.errors?.required  && form.controls['code'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['code'].hasError('required') && form.controls['code'].touched"><small>Ingrese un código!</small></label>
            </div>
            
            <div class="form-group row">
                <input nbInput fullWidth formControlName="description" matInput placeholder="Descripción"
                [status]="form.controls['description']?.errors?.required  && form.controls['description'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['description'].hasError('required') && form.controls['description'].touched"><small>Ingrese una descripción!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="keyview" matInput placeholder="Vista clave"
                [status]="form.controls['keyview']?.errors?.required  && form.controls['keyview'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['keyview'].hasError('required') && form.controls['keyview'].touched"><small>Ingrese una vista clave!</small></label>
                 <label class="text-danger"
                 *ngIf="validate['keyview'].hasError('minLength') "><small>Digite máximo un caracter</small></label>
            </div>
            

            <div class="form-group row">
                <input nbInput fullWidth formControlName="noRegistration" matInput placeholder="Número de registro"
                [status]="form.controls['noRegistration']?.errors?.required  && form.controls['noRegistration'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['noRegistration'].hasError('required') && form.controls['noRegistration'].touched"><small>Ingrese un número de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>