<nb-card>
    <nb-card-body>
        <form [formGroup]="formInstitutionClassification">
            
            <div class="form-group row">
                <input type="text" nbInput fullWidth formControlName="description" matInput maxlength="100" placeholder="Descripción"
                [status]="formInstitutionClassification.controls['description']?.errors?.required  && formInstitutionClassification.controls['description'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateInstitutionClassification['description'].hasError('required') && formInstitutionClassification.controls['description'].touched"><small>Ingrese una descripción valida!!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput  fullWidth formControlName="numRegister" matInput placeholder="Número registro"
                [status]="formInstitutionClassification.controls['numRegister']?.errors?.required  && formInstitutionClassification.controls['numRegister'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateInstitutionClassification['numRegister'].hasError('required') && formInstitutionClassification.controls['numRegister'].touched"><small>Ingrese un número de registro!</small></label>
            </div>

       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formInstitutionClassification.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>