<nb-card class="cat-card">
    <nb-card-header>
        <span class="title">
            Datos búsqueda
        </span>
    </nb-card-header>

    <nb-card-body>

            <div class="row">

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="label">Tipo de bien</label>
                        <input  nbInput fullWidth  placeholder="">
                    </div>
                  </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">&nbsp;</label>
                        <input  nbInput fullWidth  placeholder="" disabled>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="label">SubTipo</label>
                        <input  nbInput fullWidth  placeholder="">
                    </div>
                  </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">&nbsp;</label>
                        <input  nbInput fullWidth  placeholder="" disabled>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="label">SubSubTipo</label>
                        <input  nbInput fullWidth  placeholder="">
                    </div>
                  </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">&nbsp;</label>
                        <input  nbInput fullWidth  placeholder="" disabled>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-1">
                    <div class="form-group">
                        <label class="label">SubSubSubTipo</label>
                        <input  nbInput fullWidth  placeholder="">
                    </div>
                  </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="label">&nbsp;</label>
                        <input  nbInput fullWidth  placeholder="" disabled>
                    </div>
                </div>

            </div>

                
    </nb-card-body>
</nb-card>