<div class="row">
    <div class="col-md-1">
      <div class="form-group">
          <label class="label">No. Solicitud</label>
          <input  nbInput fullWidth  placeholder="">
      </div>
    </div>
  
      <div class="col-md-2">
          <div class="form-group">
              <label class="label">Fecha de solicitud</label>
              <input formControlName="fechaInicial" nbInput
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker">
                          <nb-datepicker #formpicker></nb-datepicker>
          </div>
      </div>
</div>

<div class="row">
    <div class="col-md-1">
      <div class="form-group">
          <label class="label">No. Perito</label>
          <input  nbInput fullWidth  placeholder="">
      </div>
    </div>
  
      <div class="col-md-5">
          <div class="form-group">
              <label class="label">&nbsp;</label>
              <input  nbInput fullWidth  placeholder="">
          </div>
      </div>

      <div class="col-md-1">
        <div class="form-group">
            <label class="label">Institución</label>
            <input  nbInput fullWidth  placeholder="">
        </div>
      </div>
    
        <div class="col-md-5">
            <div class="form-group">
                <label class="label">&nbsp;</label>
                <input  nbInput fullWidth  placeholder="">
            </div>
        </div>
</div>

<div class="row">
    <div class="col-md-3">
      <div class="form-group">
          <label class="label">Solicitante</label>
          <input  nbInput fullWidth  placeholder="">
      </div>
    </div>
  
      <div class="col-md-9">
          <div class="form-group">
              <label class="label">&nbsp;</label>
              <input  nbInput fullWidth  placeholder="">
          </div>
      </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            
            <input  nbInput fullWidth  placeholder="">
        </div>
    </div>
  
      <div class="col-md-4">
          <div class="form-group">
              
              <input  nbInput fullWidth  placeholder="">
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            
            <input  nbInput fullWidth  placeholder="">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-3">
      <div class="form-group">
          <label class="label">Solicitado a</label>
          <input  nbInput fullWidth  placeholder="">
      </div>
    </div>
  
      <div class="col-md-9">
          <div class="form-group">
              <label class="label">&nbsp;</label>
              <input  nbInput fullWidth  placeholder="">
          </div>
      </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            
            <input  nbInput fullWidth  placeholder="">
        </div>
    </div>
  
      <div class="col-md-4">
          <div class="form-group">
              
              <input  nbInput fullWidth  placeholder="">
          </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
            
            <input  nbInput fullWidth  placeholder="">
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
      <div class="form-group">
          <label class="label">Observaciones</label>
            <textarea nbInput fullWidth placeholder=""></textarea>
      </div>
    </div>
</div>