<nb-card class="cat-card"> 
    <nb-card-header>
  
        <span class="title">
            REPORTE DE BIENES RECIBIDOS EN ADMON
        </span>

  
    </nb-card-header>
  
    <nb-card-body>

        <form [formGroup]="form" (submit)="mostrarInfo()">

            <div class="row">
  
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="label">Acumulado del:</label>
                          <input nbInput formControlName="fechaInicial"
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker">
                          <nb-datepicker #formpicker></nb-datepicker>
                          <ngx-validation-message label="fechaInicial" [showRequired]="fechaInicial?.errors?.required && fechaInicial.touched">
                        </ngx-validation-message>
                    </div>
                    
                </div>
        
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="label">Al</label>
                          <input nbInput formControlName="fechaFinal"
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker2">
                          <nb-datepicker #formpicker2></nb-datepicker>
                          <ngx-validation-message label="fechaFinal" [showRequired]="fechaFinal?.errors?.required && fechaFinal.touched">
                        </ngx-validation-message>
                    </div>
                </div>
                
                    
            </div>

        
            <ngx-deleg-subdeleg-shared [form]="form"></ngx-deleg-subdeleg-shared>
          
              
              <div class="row">
          
                <div class="col-md-1">
                    <div class="form-group">
                        <label class="label">Estatus</label>
                        <input nbInput fullWidth placeholder="" formControlName="clave">
                        <ngx-validation-message label="clave" [showRequired]="clave?.errors?.required && clave.touched">
                        </ngx-validation-message>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="label">&nbsp;</label>
                        <input nbInput fullWidth  placeholder="" formControlName="estatus" disabled>
                    </div>
                </div>
                
                <!--
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="label">&nbsp;</label>
                                <ng-select nbinput=""  class="ng-dropdown-panel-items scroll-host input-full-width size-medium status-basic shape-rectangle nb-transition" 
                                    [items]="statusList" 
                                    bindLabel="status"
                                    bindValue="cveStatus" 
                                    placeholder="" 
                                    > 
                                </ng-select>
                        </div>
                    </div>
        
                -->
                    
            </div>
          
              <div class="form-group">
              <div class="d-flex justify-content-center">
                      <button type="submit" nbButton status="primary" [disabled]="!form.valid">Imprimir Reporte</button>
              </div>
          </div>

        </form>
  
     
     
  
  
  </nb-card-body>
  
  </nb-card>