<nb-card class="cat-card"> 
    <nb-card-header>
  
        <span class="title">
            TOTAL DE DOCUMENTOS RECIBIDOS VS ÁREA DESTINO
        </span>

    </nb-card-header>
  
    <nb-card-body>
  
        <form [formGroup]="formDelegation" (submit)="mostrarInfo()">

            <div class="row">
  
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="label">Fecha recepción del:</label>
                        
                          <input nbInput
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker">
                          <nb-datepicker #formpicker></nb-datepicker>
                        
                    </div>
                </div>
        
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="label">Al</label>
                        
                          <input nbInput
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker2">
                          <nb-datepicker #formpicker2></nb-datepicker>
                        
                    </div>
                </div>
                
                    
            </div>
        
            <ngx-destination-area-shared></ngx-destination-area-shared>
        
            <ngx-deleg-subdeleg-shared [form]="formDelegation"></ngx-deleg-subdeleg-shared>
          
              <div class="row">
          
                <div class="col-lg-2">
                    <div class="form-group">
                        <label class="label">¿Reporte Detallado?</label> &nbsp; 
                        
                          <nb-select fullWidth selected="No">
                            <nb-option value="No">No</nb-option>
                            <nb-option value="Si">Si</nb-option>
                        </nb-select>
                        
                    </div>
                </div>
              </div>
          
              <div class="form-group">
                <div class="d-flex justify-content-center">
                        <button type="submit" nbButton status="primary" [disabled]="!formDelegation.valid">Imprimir Reporte</button>
                </div>
            </div>

        </form>

  </nb-card-body>
  
  </nb-card>