.styles {
    background-color: #f7f9fc;
    border-color: #e4e9f2;
    color: #222b45;
    padding: 0.4375rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.9375rem;
    font-weight: 600;
    line-height: 1.5rem;
    border-style: solid;
    border-width: 1px;
    margin-left: -17px;
    // font-family: Open Sans, sans-serif;
}