<nb-card class="cat-card">
    <nb-card-header>
  
        <span class="title">
          REPORTE ACUMULADO DE BIENES ANUAL
        </span>
  
  
    </nb-card-header>
  
    <nb-card-body>
  
      <form [formGroup]="form" (submit)="mostrarInfo()">
  
          <ngx-deleg-subdeleg-shared [form]="form"></ngx-deleg-subdeleg-shared>
  
          <div class="row">
  
              <div class="col-md-2">
                  <div class="form-group">
                      <label class="label">Del</label>
                      <input formControlName="fechaInicial" nbInput
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker">
                          <nb-datepicker #formpicker></nb-datepicker>
                          <ngx-validation-message label="fechaInicial" [showRequired]="fechaInicial?.errors?.required && fechaInicial.touched">
                        </ngx-validation-message>
                  </div>
                  
              </div>
      
              <div class="col-md-2">
                  <div class="form-group">
                      <label class="label">Al&nbsp;</label>
                      <input formControlName="fechaFinal" nbInput
                                 placeholder="Selección de fecha"
                                 [nbDatepicker]="formpicker2">
                          <nb-datepicker #formpicker2></nb-datepicker>
                          <ngx-validation-message label="fechaFinal" 
                           [showRequired]="fechaFinal?.errors?.required && fechaFinal.touched">
                  </ngx-validation-message>
                  </div>
                  
              </div>
              
                  
          </div>
      
          <div class="form-group">
              <div class="d-flex justify-content-center">
                      <button type="submit" nbButton status="primary" [disabled]="!form.valid">Imprimir Reporte</button>
              </div>
          </div>
  
      </form>
      
      
  
  
  </nb-card-body>
  
  </nb-card>