<nb-card>
    <nb-card-body>
        <form [formGroup]="formReason">
            <div class="form-group row">
                <input nbInput fullWidth maxlength="50" formControlName="reasonType" matInput placeholder="Tipo de motivo">
                <label class="text-danger" *ngIf="validateReason['reasonType'].hasError('pattern')"><small>Tipo motivo no válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="eventType" matInput placeholder="Tipo de evento">
                <label class="text-danger" *ngIf="validateReason['eventType'].hasError('pattern')"><small>Tipo de evento no válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="reason" matInput placeholder="Motivo">
                <label class="text-danger" *ngIf="validateReason['reason'].hasError('pattern')"><small>Motivo válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="version" matInput placeholder="version">
                <label class="text-danger" *ngIf="validateReason['version'].hasError('pattern')"><small>Numero de versión no válida!</small></label>
            </div>
            <div class="form-group row">
                <select class="form-control" formControlName="status" title="Seleccione una opción">
                    <option selected disabled>Seleccionar...</option>
                    <option value="0" selected>Activo</option>
                    <option value="1">Inactivo</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formReason.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>