<nb-card>
    <nb-card-body>
        <form [formGroup]="form">

            <div class="form-group row">
                <input nbInput fullWidth formControlName="cve" matInput placeholder="Clave"
                [status]="form.controls['cve']?.errors?.required  && form.controls['cve'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['cve'].hasError('required') && form.controls['cve'].touched"><small>Ingrese un cv_guardaValor!</small></label>
            </div>
            
            <div class="form-group row">
                <input nbInput fullWidth formControlName="description" matInput placeholder="Descripción"
                [status]="form.controls['description']?.errors?.required  && form.controls['description'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['description'].hasError('required') && form.controls['description'].touched"><small>Ingrese una descripción!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="location" matInput placeholder="Ubicación"
                [status]="form.controls['location']?.errors?.required  && form.controls['location'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['location'].hasError('required') && form.controls['location'].touched"><small>Ingrese una Ubicación!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="responsible" matInput placeholder="Responsable"
                [status]="form.controls['responsible']?.errors?.required  && form.controls['responsible'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['responsible'].hasError('required') && form.controls['responsible'].touched"><small>Ingrese un Responsable!</small></label>
            </div>

            <div class="form-group row">
                <input nbInput fullWidth formControlName="noRegistration" matInput placeholder="Número de registro"
                [status]="form.controls['noRegistration']?.errors?.required  && form.controls['noRegistration'].touched ? 'danger' : ''">
                <label class="text-danger"
                 *ngIf="validate['noRegistration'].hasError('required') && form.controls['noRegistration'].touched"><small>Ingrese un número de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>