<nb-card>
    <nb-card-body>
        <form [formGroup]="formPaymentsConcept">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="descripcion" matInput placeholder="descripcion">
                <label class="text-danger" *ngIf="validatePaymentsConcept['descripcion'].hasError('required')"><small>Ingrese una descripción!</small></label>
            </div>



            <div class="form-group row">
                <input nbInput fullWidth type="number" formControlName="no_registro" matInput placeholder="Número de registro">
                <label class="text-danger" *ngIf="validatePaymentsConcept['no_registro'].hasError('min')"><small>Ingrese el numero de registro!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formPaymentsConcept.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>