<nb-card>
    <nb-card-body>
        <form [formGroup]="formCourt">
            
            <div class="form-group row">
                <input type="text" nbInput fullWidth formControlName="description" maxlength="100" matInput placeholder="Descripción"
                [status]="formCourt.controls['description']?.errors?.required  && formCourt.controls['description'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['description'].hasError('required') && formCourt.controls['description'].touched"><small>Ingrese una descripción valida!</small></label>
            </div>

            <div class="form-group row">
                <input type="text" nbInput  fullWidth formControlName="manager" maxlength="100" matInput placeholder="Manager"
                [status]="formCourt.controls['manager']?.errors?.required  && formCourt.controls['manager'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['manager'].hasError('required') && formCourt.controls['manager'].touched"><small>Ingrese un responsable valido!</small></label>
            </div>
            <div class="form-group row">
                <input type="text" nbInput maxlength="60" fullWidth formControlName="street" matInput placeholder="Calle"
                [status]="formCourt.controls['street']?.errors?.required  && formCourt.controls['street'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['street'].hasError('required') && formCourt.controls['street'].touched"><small>Ingrese una calle valida!</small></label>
            </div>        
            <div class="form-group row">
                <input type="text" nbInput  fullWidth formControlName="numExterior" maxlength="10" matInput placeholder="Exterior"
                [status]="formCourt.controls['numExterior']?.errors?.required  && formCourt.controls['numExterior'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['numExterior'].hasError('required') && formCourt.controls['numExterior'].touched"><small>Ingrese un exterior valido!</small></label>
            </div>        
            <div class="form-group row">
                <input type="number" nbInput  fullWidth formControlName="numInside" matInput placeholder="Interior"
                [status]="formCourt.controls['numInside']?.errors?.required  && formCourt.controls['numInside'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['numInside'].hasError('required') && formCourt.controls['numInside'].touched"><small>Ingrese un interior valido!</small></label>
            </div>
            <div class="form-group row">
            <input type="number" nbInput  fullWidth formControlName="numRegister" matInput placeholder="Número de registro"
            [status]="formCourt.controls['numRegister']?.errors?.required  && formCourt.controls['numRegister'].touched ? 'danger' : ''">

            <label class="text-danger" *ngIf="validateCourt['numRegister'].hasError('required') && formCourt.controls['numRegister'].touched"><small>Ingrese un número de registro valido!</small></label>
        </div>
        <div class="form-group row">
        <input type="text" nbInput maxlength="100" fullWidth formControlName="cologne" matInput placeholder="Colonia"
                [status]="formCourt.controls['cologne']?.errors?.required  && formCourt.controls['cologne'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validateCourt['cologne'].hasError('required') && formCourt.controls['cologne'].touched"><small>Ingrese una colonia valida!</small></label>
            </div>
            <div class="form-group row">
            <input type="text" nbInput  fullWidth formControlName="delegationMun" matInput placeholder="Delegación municipal"
            [status]="formCourt.controls['delegationMun']?.errors?.required  && formCourt.controls['delegationMun'].touched ? 'danger' : ''">

            <label class="text-danger" *ngIf="validateCourt['delegationMun'].hasError('required') && formCourt.controls['delegationMun'].touched"><small>Ingrese una delegación municipal valida!</small></label>
        </div>
        <div class="form-group row">
        <input type="number" nbInput  fullWidth formControlName="zipCode" matInput placeholder="Código postal"
        [status]="formCourt.controls['zipCode']?.errors?.required  && formCourt.controls['zipCode'].touched ? 'danger' : ''">

        <label class="text-danger" *ngIf="validateCourt['zipCode'].hasError('required') && formCourt.controls['zipCode'].touched"><small>Ingrese un código postal valido!</small></label>
    </div>
    <div class="form-group row">
    <input type="text" nbInput  fullWidth formControlName="numPhone" matInput placeholder="Número telefónico"
    [status]="formCourt.controls['numPhone']?.errors?.required  && formCourt.controls['numPhone'].touched ? 'danger' : ''">

    <label class="text-danger" *ngIf="validateCourt['numPhone'].hasError('required') && formCourt.controls['numPhone'].touched"><small>Ingrese un número telefónico valido!</small></label>
</div>
<div class="form-group row">
<input type="text" nbInput  fullWidth formControlName="circuitCVE" matInput placeholder="CVE Circuito"
[status]="formCourt.controls['circuitCVE']?.errors?.required  && formCourt.controls['circuitCVE'].touched ? 'danger' : ''">

<label class="text-danger" *ngIf="validateCourt['circuitCVE'].hasError('required') && formCourt.controls['circuitCVE'].touched"><small>Ingrese un CVE circuito valido!</small></label>
</div>


       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formCourt.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>