@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
}

.ng-select.custom .ng-select-container {
  background-color: #f7f9fc;
  border-color: #e4e9f2;
  color: #222b45;
  font-size: 0.9375rem;
  font-weight: 400;
  height: 40px;
}

.ng-select.custom.ng-invalid.ng-touched .ng-select-container {
  border-color: #ff3d71 !important;
}

nb-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: nb-theme(card-header-with-select-padding-top);
  padding-bottom: nb-theme(card-header-with-select-padding-bottom);
  margin-bottom: -1px;
}