<nb-card>
  <nb-card-body>
      <form [formGroup]="form">
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" nbInput fullWidth class="form-control" formControlName="idStorehouse"
                        placeholder="ID Bodega"
                        [status]="(idStorehouse?.errors?.required || idStorehouse?.hasError('minlength') || idStorehouse?.hasError('maxlength') || idStorehouse?.hasError('pattern')) && idStorehouse.touched ? 'danger' : ''">
                    <ngx-validation-message label="ID Bodega" [showMinLength]="idStorehouse?.hasError('minlength')"
                        [showMaxLength]="idStorehouse?.hasError('maxlength')"
                    
                        [showPattern]="idStorehouse?.hasError('pattern') && idStorehouse.touched" minLength=1 maxLength=255>
                    </ngx-validation-message>
                </div>
            </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" nbInput fullWidth class="form-control" formControlName="manager"
                          placeholder="Responsable de la bodega"
                          [status]="(manager?.errors?.required || manager?.hasError('minlength') || manager?.hasError('maxlength') || manager?.hasError('pattern')) && manager.touched ? 'danger' : ''">
                      <ngx-validation-message label="Responsable de la bodega" [showMinLength]="manager?.hasError('minlength')"
                          [showMaxLength]="manager?.hasError('maxlength')"
                      
                          [showPattern]="manager?.hasError('pattern') && manager.touched" minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" nbInput fullWidth class="form-control" formControlName="description"
                          placeholder="Descripción"
                          [status]="(description?.errors?.required || description?.hasError('minlength') || description?.hasError('maxlength') || description?.hasError('pattern')) && description.touched ? 'danger' : ''">
                      <ngx-validation-message label="Descripción" [showMinLength]="description?.hasError('minlength')"
                          [showMaxLength]="description?.hasError('maxlength')"
                          [showPattern]="description?.hasError('pattern') && description.touched" minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" nbInput fullWidth class="form-control" formControlName="municipality"
                          placeholder="Código de municicpio de bodega ej. 1"
                          [status]="(municipality?.errors?.required || municipality?.hasError('minlength') || municipality?.hasError('maxlength') || municipality?.hasError('pattern')) && municipality.touched ? 'danger' : ''">
                      <ngx-validation-message label="Código de municicpio de bodega ej. 1" [showMinLength]="municipality?.hasError('minlength')"
                          [showMaxLength]="municipality?.hasError('maxlength')"
                      
                          [showPattern]="municipality?.hasError('pattern') && municipality.touched" minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" nbInput fullWidth class="form-control" formControlName="locality"
                          placeholder="Código de localidad de bodega ej. 1"
                          [status]="(locality?.errors?.required || locality?.hasError('minlength') || locality?.hasError('maxlength') || locality?.hasError('pattern')) && locality.touched ? 'danger' : ''">
                      <ngx-validation-message label="Código de localidad de bodega ej. 1" [showMinLength]="locality?.hasError('minlength')"
                          [showMaxLength]="locality?.hasError('maxlength')"
                       
                          [showPattern]="locality?.hasError('pattern') && locality.touched" minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="text" nbInput fullWidth class="form-control" formControlName="ubication"
                          placeholder="Ubicación de la bodega"
                          [status]="(ubication?.errors?.required || ubication?.hasError('minlength') || ubication?.hasError('maxlength') || ubication?.hasError('pattern')) && ubication.touched ? 'danger' : ''">
                      <ngx-validation-message label="Ubicación de la bodega" [showMinLength]="ubication?.hasError('minlength')"
                          [showMaxLength]="ubication?.hasError('maxlength')"
                       
                          [showPattern]="ubication?.hasError('pattern') && ubication.touched" minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group">
                      <input type="number" nbInput fullWidth class="form-control" formControlName="idEntity"
                          placeholder="Código de entidad"
                          [status]="(idEntity?.errors?.required || idEntity?.hasError('minlength') || idEntity?.hasError('maxlength') || idEntity?.hasError('pattern')) && idEntity.touched ? 'danger' : ''">
                      <ngx-validation-message label="Código de entidad"
                          [showMinLength]="idEntity?.hasError('minlength')"
                          [showMaxLength]="idEntity?.hasError('maxlength')"
                       
                          [showPattern]="idEntity?.hasError('pattern') && idEntity.touched"
                          minLength=1 maxLength=255>
                      </ngx-validation-message>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="d-flex justify-content-center">
                  <button type="submit" nbButton status="primary" [disabled]="!form.valid"
                      (click)="register()">{{actionBtn}}</button>
              </div>
          </div>
      </form>
  </nb-card-body>
</nb-card>