<nb-card>
  <nb-card-body>
    <form [formGroup]="form">

      <div class="form-group row">
        <input nbInput fullWidth formControlName="manager" matInput placeholder="Encargado"
          [status]="form.controls['manager']?.errors?.required  && form.controls['manager'].touched ? 'danger' : ''">
        <label class="text-danger" *ngIf="validateDelegation['manager'].hasError('required') && form.controls['manager'].touched"><small>Campo requerido!</small></label>
      </div>

      <div class="form-group row">
        <input nbInput fullWidth formControlName="descripcion" matInput placeholder="Descripcion" 
          [status]="form.controls['descripcion']?.errors?.required  && form.controls['descripcion'].touched ? 'danger' : ''">
        <label class="text-danger"
          *ngIf="validateDelegation['descripcion'].hasError('required') && form.controls['descripcion'].touched"><small>Ingrese una descripcion!</small>
        </label>
      </div>

      <div class="form-group row">
        <input type="text" formControlName="municipality" placeholder="Municipio" nbInput fullWidth matInput 
          [status]="form.controls['municipality']?.errors?.required && form.controls['municipality'].touched ? 'danger' : ''">
          <label class="text-danger" *ngIf="validateDelegation['municipality'].hasError('required')  && form.controls['municipality'].touched "><small>Ingrese municipio</small></label>
      </div>

      <div class="form-group row">
        <input type="text" formControlName="locality" placeholder="Localidad" nbInput fullWidth matInput 
          [status]="form.controls['locality']?.errors?.required && form.controls['locality'].touched ? 'danger' : ''">
          <label class="text-danger" *ngIf="validateDelegation['locality'].hasError('required')  && form.controls['locality'].touched "><small>Ingrese localidad</small></label>
      </div>

      <div class="form-group row">
        <input type="text" formControlName="ubication" placeholder="Ubicación" nbInput fullWidth matInput 
          [status]="form.controls['ubication']?.errors?.required && form.controls['ubication'].touched ? 'danger' : ''">
          <label class="text-danger" *ngIf="validateDelegation['ubication'].hasError('required')  && form.controls['ubication'].touched "><small>Ingrese ubicación!</small></label>
      </div>

      <div class="form-group row">
        <input type="text" formControlName="idEntity" placeholder="Entidad" nbInput fullWidth matInput 
          [status]="form.controls['idEntity']?.errors?.required && form.controls['idEntity'].touched ? 'danger' : ''">
          <label class="text-danger" *ngIf="validateDelegation['idEntity'].hasError('required')  && form.controls['idEntity'].touched "><small>Ingrese entidad!</small></label>
      </div>
     
      <div class="form-group row">
        <div class="offset-sm-3 col-sm-9">
          <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
        </div>
      </div>
      </form>
  </nb-card-body>
</nb-card>