<nb-card>
    <nb-card-body>
        <form [formGroup]="form">

            <div class="form-group row">
                <input type="number" nbInput  fullWidth formControlName="numType" matInput placeholder="ID Tipo"
                [status]="form.controls['numType']?.errors?.required  && form.controls['numType'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validate['numType'].hasError('required') && form.controls['numType'].touched"><small>Ingrese un tipo valido!</small></label>
            </div>

            <div class="form-group row">
                <input type="number" nbInput fullWidth formControlName="numRegister" matInput placeholder="ID Registro"
                [status]="form.controls['numRegister']?.errors?.required  && form.controls['numRegister'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validate['numRegister'].hasError('required') && form.controls['numRegister'].touched"><small>Ingrese un registro valido!</small></label>
            </div>

            <div class="form-group row">
                <input type="text" nbInput fullWidth formControlName="description" matInput placeholder="Descripción"
                [status]="form.controls['description']?.errors?.required  && form.controls['description'].touched ? 'danger' : ''">

                <label class="text-danger" *ngIf="validate['description'].hasError('required') && form.controls['description'].touched"><small>Ingrese una descripción valida!</small></label>
            </div>
       
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>