<nb-card>
    <nb-card-body>
        <form [formGroup]="form">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="id" matInput placeholder="Identificador">
                <label class="text-danger" *ngIf="validateOpinion['id'].hasError('pattern')"><small>Id no válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="description" matInput placeholder="Descripcion">
                <label class="text-danger" *ngIf="validateOpinion['description'].hasError('pattern')"><small>Descripcion no válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="version" matInput placeholder="Version">
                <label class="text-danger" *ngIf="validateOpinion['version'].hasError('pattern')"><small>Version no  válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="estatus" matInput placeholder="Estatus">
                <label class="text-danger" *ngIf="validateOpinion['estatus'].hasError('pattern')"><small>Estatus  válido!</small></label>
            </div>
         

            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!form.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
