<nb-card>
    <nb-card-body>
        <form [formGroup]="formLegend">
            <div class="form-group row">
                <input nbInput fullWidth formControlName="legend" matInput placeholder="leyenda">
                <label class="text-danger" *ngIf="validateLegend['legend'].hasError('pattern')"><small>Ingrese un nombre válido!</small></label>
            </div>
            <div class="form-group row">
                <input nbInput fullWidth formControlName="version" matInput placeholder="version">
                <label class="text-danger" *ngIf="validateLegend['version'].hasError('pattern')"><small>Numero de versión no válida!</small></label>
            </div>
            <div class="form-group row">
                <select class="form-control" formControlName="status" title="Seleccione una opción">
                    <option selected disabled>Seleccionar...</option>
                    <option value="0" selected>Activo</option>
                    <option value="1">Inactivo</option>
                </select>
            </div>
            <!-- <div class="form-group row">
                <input nbInput fullWidth formControlName="status" matInput placeholder="status">
            </div> -->
            <div class="form-group row">
                <div class="offset-sm-3 col-sm-9">
                    <button type="submit" nbButton status="primary" [disabled]="!formLegend.valid" (click)="register()">{{actionBtn}}</button>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>